table {
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
}

button.fret-button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
