<!DOCTYPE html>
<html>
<head>
    <title>Guitar to Keyboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Guitar to Keyboard</h1>

    <input type="text" id="tuningInput" placeholder="Enter Tuning" />
    <button id="fetchButton">Modify Tuning</button>

    <div id="main-container">
        <div id="fretboard-container">
            <table id="fretboard"></table>
        </div>

        <div id="note-box">
    <h3>Selected Notes</h3>
    <textarea id="selectedNotes" class="notebox"></textarea>
    <button id="clearButton">Clear</button>
</div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
